<!DOCTYPE html>
<html>
	<head>
	 	<title>管理员</title>
	  	<style type="text/css" rel="stylesheet">
	    html,body{width:100%;height:100%;margin:0;padding:0;font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;}
	    .header{height:40px;width:100%;background-color:#242424;position:fixed;}
	    .header_title{line-height:40px;margin-left:60px;color:#fff;font-size:15px;}
	    .header_user{font-size:12px;margin-left:20px;color:#ccc;}
	    .panel{width:606px;height:500px;margin-left:auto;margin-right:auto;padding-top:100px;}
    	.panel_item{width:606px;height:200px;}
	    a{text-decoration: none;color:#fff;}
		.panel_item>a{width:300px;height:200px;display:inline-block;line-height:200px;font-size:30px;color:#fff;text-align:center;}
  		</style>
	</head>

	<body>
		<div class="header">
  			<div class="header_title">买鲜后台管理系统<span class="header_user">欢迎你,Admin</span></div>
		</div>

		<div class="panel">
			<div class="panel_item">
		    	<a style="background-color:#39A3F9;" href="/admin/item">管理商品</a>
		    	<a style="background-color:#D33733;" href="/admin/intro">管理代理</a>
		  	</div>
		</div>

		<script type="text/javascript" src="/js/jquery.min.js"></script>
	</body>
</html>
