<!DOCTYPE HTML>
<html>
	<head>
	    <title>商品管理</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="keywords" content="" />
	    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	     <!-- Bootstrap Core CSS -->
	    <link href="/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
	    <!-- Custom CSS -->
	    <link href="/css/style.css" rel='stylesheet' type='text/css' />
	    <link href="/css/font-awesome.css" rel="stylesheet"> 
	    <!-- jQuery -->
        <script src="/js/jquery.min.js"></script>
	    <script src="/js/jquery.form.js"></script>
	    <!-- Bootstrap Core JavaScript -->
	    <script src="/js/bootstrap.min.js"></script>
    </head>

    <body>
    	<div id="wrapper">
    	<!-- Navigation -->
    		<nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    			<div class="navbar-header">
    				<a class="navbar-brand">买鲜后台管理系统</a>
    			</div>

      			<form class="navbar-form navbar-right">
      				<input type="text" class="form-control" value="Search..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search...';}">
        		</form>

        		<div class="navbar-default sidebar" role="navigation">
        			<div class="sidebar-nav navbar-collapse">
        				<ul class="nav" id="side-menu">
        					<li><a href=<%= zonglan %>><i class="fa fa-dashboard fa-fw nav_icon"></i>总览</a></li>
        					<li><a href="/item"><i class="fa fa-laptop nav_icon"></i>商品管理</a></li>
                            <li><a href="/agent"><i class="fa fa-sitemap fa-fw nav_icon"></i>代理管理</a></li>
        					<li><a href="/order"><i class="fa fa-indent nav_icon"></i>订单管理</a></li>
        					<li>
        						<a href="#"><i class="fa fa-envelope nav_icon"></i>活动管理<span class="fa arrow"></span></a>
        						<ul class="nav nav-second-level">
        							<li><a href="inbox.html">活动查询</a></li>
        							<li><a href="compose.html">活动编辑</a></li>
                      			</ul>
                      			<!-- /.nav-second-level -->
                  			</li>
                  			<li>
                      			<a href="#"><i class="fa fa-check-square-o nav_icon"></i>Banner管理<span class="fa arrow"></span></a>
                      			<ul class="nav nav-second-level">
                      				<li><a href="forms.html">Banner查询</a></li>
                      				<li><a href="validation.html">Banner编辑</a></li>
                      			</ul>
                      			<!-- /.nav-second-level -->
                      		</li>
                            <li><a href="/search"><i class="fa fa-table nav_icon"></i>搜索结果</a></li>
                      	</ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>

            <div id="page-wrapper">
            	<div class="col-md-12 graphs">
            		<div class="xs">
            			<h3>商品信息</h3>
            			<div class="well1 white">
            			<form action='/item' method='post' class="form-floating ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-url ng-valid-pattern" novalidate="novalidate" ng-submit="submit()">
							<fieldset>
								<div class="form-group">
									<label class="control-label">商品名称</label>
              						<input type="text" name="itemname" class="form-control1 ng-invalid ng-invalid-required ng-touched" ng-model="model.name" required="">
            					</div>
                                <div class="form-group">
                                    <label class="control-label">商品简短描述</label>
                                    <input type="text" name="itemnamedes" class="form-control1 ng-invalid ng-invalid-required ng-touched" ng-model="model.name" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">商品原价</label>
                                    <input type="text" name="itemoriginalprice" class="form-control1 ng-invalid ng-invalid-required ng-touched" ng-model="model.number" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">商品现价</label>
                                    <input type="text" name="itemcurrentprice" class="form-control1 ng-invalid ng-invalid-required ng-touched" ng-model="model.name" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">商品团购价</label>
                                    <input type="text" name="itemgroupprice" class="form-control1 ng-invalid ng-invalid-required ng-touched" ng-model="model.name" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">商品小图</label>
                                    <input type="url" name="itemthumbnailspic" class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched" ng-model="model.url" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">商品大图1</label>
                                    <input type="url" name="itemlargepic1" class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched" ng-model="model.url" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">商品大图2</label>
                                    <input type="url" name="itemlargepic2" class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched" ng-model="model.url" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">商品大图3</label>
                                    <input type="url" name="itemlargepic3" class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched" ng-model="model.url" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">商品大图4</label>
                                    <input type="url" name="itemlargepic4" class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched" ng-model="model.url" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">商品大图5</label>
                                    <input type="url" name="itemlargepic5" class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched" ng-model="model.url" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">商品详情图1</label>
                                    <input type="url" name="itemdetailpic1" class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched" ng-model="model.url" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">商品详情图2</label>
                                    <input type="url" name="itemdetailpic2" class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched" ng-model="model.url" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">商品详情图3</label>
                                    <input type="url" name="itemdetailpic3" class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched" ng-model="model.url" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">商品详情图4</label>
                                    <input type="url" name="itemdetailpic4" class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched" ng-model="model.url" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">商品详情图5</label>
                                    <input type="url" name="itemdetailpic5" class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched" ng-model="model.url" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">商品Banner图</label>
                                    <input type="url" name="itembannerpic" class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched" ng-model="model.url" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">团购人数(0不支持团购)</label>
                                    <input type="text" name="groupnum" class="form-control1 ng-invalid ng-invalid-required ng-valid-pattern ng-touched" ng-model="model.number" ng-pattern="/[0-9]/" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label normal">团购开始时间</label>
                                    <input type="date" name="groupstarttime" class="form-control1 ng-invalid ng-invalid-required" ng-model="model.date" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">销量</label>
                                    <input type="text" name="sales" class="form-control1 ng-invalid ng-invalid-required ng-valid-pattern ng-touched" ng-model="model.number" ng-pattern="/[0-9]/" required="" readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">点赞数</label>
                                    <input type="text" name="like" class="form-control1 ng-invalid ng-invalid-required ng-valid-pattern ng-touched" ng-model="model.number" ng-pattern="/[0-9]/" required="" readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">商品实际库存</label>
                                    <input type="text" name="realinventory" class="form-control1 ng-invalid ng-invalid-required ng-valid-pattern ng-touched" ng-model="model.number" ng-pattern="/[0-9]/" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">商品显示库存</label>
                                    <input type="text" name="showinventory" class="form-control1 ng-invalid ng-invalid-required ng-valid-pattern ng-touched" ng-model="model.number" ng-pattern="/[0-9]/" required="">
                                </div>
                                <div class="form-group filled">
                                    <label class="control-label">商品分类</label>
                                    <select name="classify" class="form-control1 ng-invalid ng-invalid-required" ng-model="model.select" required="">
                                        <option value=1>虾</option>
                                        <option value=2>蟹</option>
                                        <option value=3>鱼</option>
                                        <option value=4>活鲜</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                    <button type="reset" class="btn btn-default">清空</button>
                                </div>
                            </fieldset>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->
        <!-- Nav CSS -->
        <link href="/css/custom.css" rel="stylesheet">
        <!-- Metis Menu Plugin JavaScript -->
        <script src="/js/metisMenu.min.js"></script>
        <script src="/js/custom.js"></script>
        <iframe id="ifActionResult" name="ifTmp" width="1px" height="1px" style="display: none;"></iframe>
    </body>
</html>
